@page "/aboutme"
<h3>About Me</h3>

<div class="form-group row">
    <label class="col-sm-4 col-form-label">Name:</label>
    <div class="col-sm-8">
        <label type="text" readonly class="form-control-plaintext"> Wyatt Brown</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Summary:</label>
    <div class="col-sm-8">
        <label type="text" readonly class="form-control-plaintext">
            Goal-oriented Web Developer brings strong commitment to collaboration and solutions-oriented problemsolving. Use various web design packages to develop custom-crafted, customer-focused websites and
            designs. Committed to high standards of user experience.
        </label>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Education:</label>
    <div class="col-sm-8">
        <label type="text" readonly class="form-control-plaintext">Snow College, Software Engineering</label>
    </div>
</div>
<div class="form-group row">
    <label class="col-sm-4 col-form-label">Contact Information:</label>
    <div class="col-sm-8">
        <p> Phone: (435)851-0109</p>
        <p>Email: wyatt.brownse@gmail.com</p>
        <p><a href="https://www.linkedin.com/in/wyatt-brown-6086841b7">LinkedIn</a></p>
    </div>
</div>

    @code {

    }
