@page "/projectdetails/{ProjectId:int}"
@inject HttpClient http
@using Portfolio.Shared



<h3>ProjectDetails @ProjectId</h3>



<div class="form-group">
    <label asp-for="Title">Project Title:</label>
    <input @bind-value="@projectName" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Body">Requirements: </label>
    <input @bind-value="@projectRequirements" class="form-control" rows="4">
</div>
<div class="form-group">
    <label asp-for="Body">Design: </label>
    <input @bind-value="@projectDesign" class="form-control" rows="4">
</div>
<div class="form-group">
    <label asp-for="Body">Completion Date: </label>
    <input @bind-value="projectCompletionDate" type="date" />
</div>
<button>save</button>




@code { [Parameter]
    public int ProjectId { get; set; }



    private string projectName;
    private string projectRequirements;
    private string projectDesign;
    private DateTime projectCompletionDate;




    private Project projects = new Project();



    protected override async Task OnInitializedAsync()
    {
        var project = await http.GetFromJsonAsync<IEnumerable<Project>>($"api/project/projectdetails/{ProjectId}");



        projectName = project.First().Title;
        projectRequirements = project.First().Requirements;
        projectDesign = project.First().Design;
        projectCompletionDate = project.First().CompletionDate;
    }



    private async Task updateProject()
    {
        var project = new Project
        {
            Title = projectName,
            Requirements = projectRequirements,
            Design = projectDesign,
            CompletionDate = projectCompletionDate
        };
        try
        {
            var response = await http.PostAsJsonAsync("/api/project/", project);
        }
        catch (Exception e)
        {
        }
    } }