@page "/platform/{slug}"
@inject PortfolioBlazorApp.ProjectApiService projectApi
@inject PortfolioBlazorApp.PublicProjectApiService publicProjectApi
@inject HttpClient http
@using Portfolio.Shared.ViewModels
@using Portfolio.Shared

<h3>@platformName</h3>

@foreach (var p in projects)
{
    <li><a href="ProjectDetails/@p.Slug">@p.Title</a></li>
}



@code {[Parameter]
    public int PlatformId { get; set; }
    [Parameter]
    public string Slug { get; set; }
    public int Id { get; set; }
    private string platformName;

    private PlatformViewModel platforms = new PlatformViewModel();
    public IEnumerable<BasicProject> projects = new List<BasicProject>();


    protected override async Task OnInitializedAsync()
    {
        if (PlatformId == 0 && Slug == null)
            return;
        await refreshAsync();
    }

    async Task refreshAsync()
    {
        platforms = await publicProjectApi.GetPlatformsWithProjectsBySlug(Slug);


        platformName = platforms.Name;
        projects = platforms.Projects;

    }
}
