@page "/language/{slug}"
@inject PortfolioBlazorApp.ProjectApiService projectApi
@inject HttpClient http
@using Portfolio.Shared.ViewModels
@using Portfolio.Shared

<h3>@languageName</h3>

@foreach (var p in projects)
{
    <li><a href="ProjectDetails/@p.Slug">@p.Title</a></li>
}



@code {[Parameter]
    public int LanguageId { get; set; }
    [Parameter]
    public string Slug { get; set; }

    public int Id { get; set; }
    private string languageName;

    private LanguageViewModel languages = new LanguageViewModel();
    public IEnumerable<BasicProject> projects = new List<BasicProject>();


    protected override async Task OnInitializedAsync()
    {
        if (LanguageId == 0 && Slug == null)
            return;
        await refreshAsync();
    }

    async Task refreshAsync()
    {
        //languages = await http.GetFromJsonAsync<LanguageViewModel>($"/api/category/GetLangaugesWithProjectsBySlug/{Slug}");
        languages = await projectApi.GetLangaugesWithProjectsBySlug(Slug);


        languageName = languages.Name;
        projects = languages.Projects;

    }
}
