@*@page "/projectoverview"
@inherits ProjectOverviewBase

<h1 class="page-title">All projects</h1>

@if (Projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Project ID</th>
                <th>Project Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Projects)
            {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Title</td>
                    <td>
                        <a href="@($"projectdetail/{project.Id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"projectedit/{project.id}")" class="btn btn-primary table-btn">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}*@
