@page "/language/{LanguageId:int}"

@inject HttpClient http
@using Portfolio.Shared.ViewModels
@using Portfolio.Shared

<h3>Languages</h3>

<ul>
    @foreach (var l in languages)
    {
        <li>
            <a href="./language/@l.Id"> @l.Name</a>
        </li>
    }
</ul>


@code {[Parameter]
    public int LanguageId { get; set; }
    public int Id { get; set; }

    public IEnumerable<BasicProject> ProjectList = new List<BasicProject>();
    public LanguageViewModel SelectedLanguage { get; set; } = new LanguageViewModel();
    private IEnumerable<LanguageViewModel> languages = new List<LanguageViewModel>();


    protected override async Task OnInitializedAsync()
    {
        if (LanguageId == 0)
            return;
        await refreshAsync();
    }

    async Task refreshAsync()
    {
        //SelectedLanguage = (await http.GetFromJsonAsync<LanguageViewModel>($"/api/project/projectdetails/{LanguageId}"));
        languages = await http.GetFromJsonAsync<IEnumerable<LanguageViewModel>>("/api/category/GetLanguages");

       // ProjectList = SelectedLanguage.Projects;
    }
}
