@inject HttpClient http
@using Portfolio.Shared

<h3>My Projects</h3>
<ul>
    @foreach (var p in projects)
    {
<li>
    <a href="ProjectDetails/@p.Slug"> @p.Title</a>
</li>}
</ul>

@code { private IEnumerable<Project> projects = new List<Project>();

    private async Task removeProject(Project project)
    {
        await RefreshProjectsAsync();
    }

    private async Task RefreshProjectsAsync()
    {
        projects = await http.GetFromJsonAsync<IEnumerable<Project>>("/api/project/");
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshProjectsAsync();
    }
}