@inject HttpClient http
@inject PortfolioBlazorApp.ProjectApiService projectApi
@inject PortfolioBlazorApp.PublicProjectApiService publicProjectApi
@using Portfolio.Shared

<h3>My Projects</h3>
<ul>
    @foreach (var p in projects)
    {
<li>
    <a href="ProjectDetails/@p.Slug"> @p.Title</a>
</li>
}
</ul>

@code { private IEnumerable<Project> projects = new List<Project>();

    private async Task removeProject(Project project)
    {
        await RefreshProjectsAsync();
    }

    private async Task RefreshProjectsAsync()
    {
        projects = projects = await publicProjectApi.GetProjectsAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await RefreshProjectsAsync();
    } }