@inject HttpClient http
@inject PortfolioBlazorApp.ProjectApiService projectApi
@inject PortfolioBlazorApp.PublicProjectApiService publicProjectApi
@using Portfolio.Shared.ViewModels

<h1>Languages</h1>
<ul>
    @foreach (var l in languages)
    {
        <li>
            <h2>
                <a href="./language/@l.Slug"> @l.Name</a>
            </h2>
        </li>
        <ul>
            <h5>Projects</h5>

            @foreach (var pl in l.Projects)
            {
                <li><a href="ProjectDetails/@pl.Slug">@pl.Title</a></li>
            }
        </ul>
    }
</ul>

@code {

    private IEnumerable<LanguageViewModel> languages = new List<LanguageViewModel>();

    protected override async Task OnInitializedAsync()
    {
        await RefreshCategoriesAsync();
    }

    private async Task RefreshCategoriesAsync()
    {
        languages = await publicProjectApi.GetLangaugesWithProjects();
    }

}
