@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">
   <Header/>

    <div class="content px-4">
        @Body
    </div>

    <div class="fixed-bottom">
        <AccessControl/>
        <a href="mailto:wyatt.brownse@gmail.com" target="_blank" class="ml-md-auto">Contact Me</a>
    </div>

</div>
