@inject HttpClient http
@using Portfolio.Shared.ViewModels

<h1>Platforms</h1>
<ul>
    @foreach (var p in platforms)
    {
        <li>
            <h2>
                <a href="./platform/@p.Slug"> @p.Name</a>
            </h2>
        </li>
        <ul>
            <h5>Projects</h5>

            @foreach (var pp in p.Projects)
            {
                <li><a href="ProjectDetails/@pp.Slug">@pp.Title</a></li>
            }
        </ul>
    }
</ul>
@code {
    private IEnumerable<PlatformViewModel> platforms = new List<PlatformViewModel>();

    protected override async Task OnInitializedAsync()
    {
        await RefreshCategoriesAsync();
    }

    private async Task RefreshCategoriesAsync()
    {
        platforms = await http.GetFromJsonAsync<IEnumerable<PlatformViewModel>>("/api/category/GetPlatformsWithProjects");
    }


}
